.box{
	position:absolute;
	margin-left:50%;
	transform: translateX(-50%);
	width:350px;
	height:350px;
	border:solid 1px;
	background-color:white;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	margin-top:10%;
	text-align:center;
	border-radius:10px;
}

.boxTitolo{
	font-size:30px;
	text-align:center;
	font-weight:bold;
	margin-top:4%;
	transition:1s;
}

.boxInterno{
	margin-left:2%;
	margin-top:2%;
}

input[type=text], input[type=password]{
	width:50%;
	padding-top:3px;
	padding-bottom:3px;
	margin: 8px 0;
	box-sizing: border-box;
	padding: 10px 2px;
	text-align:center;
	transition:0.5s;
	border-radius:10px;
	outline:none;
	border-style:groove;
}
input[type=text]:hover
{
	width:80%;
	transition:0.5s;
	border-color:#00ffff;
}
input[type=password]:hover
{
	width:80%;
	transition:0.5s;
	border-color:#00ffff;
}
input[type=text]:focus
{
	width:80%;
	transition:0.5s;
	border-color:#00ffff;

}
input[type=password]:focus
{
	width:80%;
	transition:0.5s;
	border-color:#00ffff;
}
input[type=submit]
{
	border-radius:5px;
	width: 70px;
	height: 40px;
	outline:none;
	border-style:groove;
	border-color:#00ffff;
	background-color:white;
}
input[type=submit]:hover
{
	background-color:#00ffff;
	cursor:pointer;
	transition:0.5s;
	color: white;
}
